@font-face {
  font-family: "ApfelGrotezk-Regular";
  src: url("https://storage.googleapis.com/elephanthouse-react-build/build/ApfelGrotezk/ApfelGrotezk-Regular.otf");
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  background-color:#73989b;
  font-family: ApfelGrotezk-Regular, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 110%;
  color: lightgrey;
  margin: 0; 
}

#root {
  height: 100%;
  width: 100%;
}

canvas{
  background-color:rgb(55, 52, 62);
  width: 100vw;
  height: 80vh;
}

.textbox {
    background-color: rgb(55, 52, 62, 0.9);
    width: 38vw;
    height: auto;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: lightgrey;
    font-size: 16px;
    font-family: ApfelGrotezk-Regular, Arial, Helvetica, sans-serif;
    line-height:120%;
}

.textboxQ {
  background-color: rgb(55, 52, 62, 0.9);
  width: 30vw;
  height: auto;
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: lightgrey;
  font-size: 20px;
  font-family: ApfelGrotezk-Regular, Arial, Helvetica, sans-serif;
  line-height:120%;
}
.textboxQ3 {
  background-color: rgb(55, 52, 62, 0.9);
  width: 15vw;
  height: auto;
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: lightgrey;
  font-size: 15px;
  font-family: ApfelGrotezk-Regular, Arial, Helvetica, sans-serif;
  line-height:120%;
}

button {
  width: 20px;
  height: 20px;
  background-color: lightgrey;
  color: rgb(55, 52, 62, 0.9);
}

.menubuttonInside {
  background-color: rgb(55, 52, 62, 1);
  text-transform: uppercase;
  width: auto;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: lightgrey;
  font-size: 16px;
  font-family: ApfelGrotezk-Regular, Arial, Helvetica, sans-serif;
  line-height:120%;
}

.menuButton {
  text-transform: uppercase;
  color: lightgrey;
  cursor: pointer;
  margin-right: 2vw;
}

.menuButtonFooter {
  text-transform: uppercase;
  color: lightgrey;
  cursor: pointer;
  margin-right: 2vw;
  font-size: 16px;
}

.menu  {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.footer {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.footerTextbox {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.Onclicks {
  cursor: pointer;
}

.Sound {
  text-align: left;
  display: block;
  float: right;
}

.loadingSign {
  color: #73989b;
  text-align: center;
  background-color:rgb(55, 52, 62);
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 20px;
}

a {
  color: antiquewhite;
  text-decoration-line: underline ;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(55, 52, 62, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-video {
  background-color: rgb(55, 52, 62);
  width: 50vw;
  height: calc(50vw * 9 / 16);
  border-radius: 5px;
}

.video {
  width: 100%;
  height: 100%;
}
